region       = "ca-central-1"
project_name = "opengis-lab"

# Your public IP:
# curl ifconfig.me
admin_cidr = "IP/32"

# Optional. Leave empty to use SSM Session Manager only.
key_name   = "your-existing-aws-keypair-name"
enable_ssh = true

# Cheapest/free-tier-friendly, but tight for GeoServer.
instance_type    = "t3.micro"
root_volume_size = 20

# Smoother test:
# instance_type    = "t3.small"
# root_volume_size = 30

postgres_db   = "gis"
postgres_user = "gisuser"

pgadmin_email = "admin@example.com"
enable_pgadmin = true

geoserver_image = "docker.osgeo.org/geoserver:3.0.x"
postgis_image   = "postgis/postgis:16-3.4"
